.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0);
}
.modalrules {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0);
}
#IName {
    margin-top: 5px;
    border-radius: 10px;
    background-color: rgb(166, 229, 253);
    color: rgb(4, 0, 255);
    text-align: center;
    border: 1px solid rgb(2, 181, 252);
}
#IName:focus {
    background-color: blue;
    color: white;
}

#reset {
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    background-color: rgb(166, 229, 253);
    border: 1px solid rgb(2, 181, 252);
    color: rgb(4, 0, 255);
}
#reset:hover {
    background-color: blue;
    color: white;
}
#startGame {
    cursor: pointer;
    margin-right: 3%;
    width: 100px;
    background-color: rgb(2, 181, 252);
    border-radius: 10px;
    color: white;
    box-shadow: 0px 0px 50px rgb(2, 181, 252);
}

#rules {
    cursor: pointer;
    margin-right: 3%;
    width: 100px;
    background-color: rgb(2, 181, 252);
    border-radius: 10px;
    color: white;
    box-shadow: 0px 0px 50px rgb(2, 181, 252);
}
#resGame {
    cursor: pointer;
    margin-right: 3%;
    width: 100px;
    background-color: rgb(2, 181, 252);
    border-radius: 10px;
    color: white;
    box-shadow: 0px 0px 50px rgb(2, 181, 252);
}
#resGame:hover {
    opacity: 0.7;
    background-color: blue;
    box-shadow: 0px 0px 50px blue;
}
#rules:hover {
    opacity: 0.7;
    background-color: blue;
    box-shadow: 0px 0px 50px blue;
}
#startGame:hover {
    opacity: 0.7;
    background-color: blue;
    box-shadow: 0px 0px 50px blue;
}
#ul {
    list-style-type: none;
}
li {
    margin-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
li:hover {
    color: blue;
}

.modal-content {
    background-color: rgb(2, 181, 252);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid rgb(2, 181, 252);
    box-shadow: 0px 0px 50px rgb(2, 181, 252);
    width: 80%;
    opacity: 0.8;
    text-align: center;
    color: rgb(255, 255, 255);
}
.modal-contentrules {
    background-color: rgb(2, 181, 252);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid rgb(2, 181, 252);
    box-shadow: 0px 0px 50px rgb(2, 181, 252);
    width: 80%;
    opacity: 0.8;
    text-align: center;
    color: rgb(255, 255, 255);
}
.close {
    color: rgb(255, 255, 255);
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
.closerules {
    color: rgb(255, 255, 255);
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
.close:hover {
    color: rgb(25, 0, 255);
}

.hid {
    visibility: hidden;
}
.vis {
    visibility: visible;
}

.centeredX {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0%);
}

.centered {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    color: blue;
}
body {
    background: url(./yeti/back.jpg);
    box-shadow: inset 0 0 20px 20px rgba(0, 0, 0, 0.5);
}
.text {
    color: white;
    border: 1px solid;
    border-radius: 20px;
    box-shadow: 0px 10px 50px rgb(0, 17, 253);
    background-color: rgb(2, 181, 252);
}

#mountain {
    border: 1px solid rgb(2, 181, 252);
    border-radius: 20px;
    /* box-shadow: 0px 0px -100px rgb(2, 181, 252); */
    overflow: hidden;
    position: relative;
    background-color: white;
}
#preMountain {
    background: url(./mount.png);
    overflow: hidden;
    position: relative;
    border-radius: 20px;
    box-shadow: 0px 0px 30px rgb(2, 181, 252);
}
#panel {
    position: absolute;
    border: 1px solid rgb(2, 181, 252);
    box-shadow: 0px 5px 18px rgb(2, 181, 252);
    border-radius: 20px;
    color: rgb(255, 255, 255);
    background: url(./bp3.gif);
    width: 25%;
    margin-right: 5px;
    margin-top: 25px;
    padding: 5px 5px 5px 10px;
    right: 0;
    z-index: 2001;
    opacity: 0.5;
}
#buttons {
    display: flex;
    justify-content: center;
    position: relative;
    top: 300px;
}

#gameover {
    border: 1px solid rgb(2, 181, 252);
    background-color: rgb(255, 255, 255);
    padding: 5px 5px 5px 5px;
    opacity: 0;
    box-shadow: 0px 0px 30px rgb(2, 181, 252);
    z-index: 2001;
    border-radius: 15px;
}
.block {
    display: none;
}

#skier {
    position: absolute;
}

.tree {
    background-image: url(tree.png);
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: absolute;
}

.tall-tree {
    background-image: url(tall-tree.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
}

.log {
    background-image: url(log.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
}

.bush {
    background-image: url(bush.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
}

.flaming-bush {
    background-image: url(flaming-bush/anim.gif);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
}

.rock {
    background-image: url(rock.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
}

.dog-walk {
    background-image: url(dog/walk.gif);
    background-repeat: no-repeat;
    left: 50%;
    width: 22px;
    height: 19px;
    position: absolute;
}

.dog-sit {
    background-image: url(dog/sit.gif);
    background-repeat: no-repeat;
    left: 50%;
    width: 22px;
    height: 19px;
    position: absolute;
}

.mushroom {
    background-image: url(mushroom.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
}

.yeti-run {
    background-image: url(yeti/run.gif);
    background-repeat: no-repeat;
    left: 50%;
    width: 30px;
    height: 43px;
    position: absolute;
}

.yeti-eat {
    background-image: url(yeti/eat.gif);
    background-repeat: no-repeat;
    left: 50%;
    width: 34px;
    height: 43px;
    position: absolute;
}

.yeti-pick {
    background-image: url(yeti/pick.gif);
    background-repeat: no-repeat;
    left: 50%;
    width: 34px;
    height: 43px;
    position: absolute;
}

.leftmost {
    background-image: url(skier.png);
    background-position: 0px -37px;
    background-repeat: no-repeat;
    transform: translateX(-50%);
    width: 24px;
    height: 34px;
}

.more-left {
    background-image: url(skier.png);
    background-position: -24px -37px;
    background-repeat: no-repeat;
    transform: translateX(-50%);
    width: 24px;
    height: 34px;
}

.left {
    background-image: url(skier.png);
    background-position: -48px -37px;
    background-repeat: no-repeat;
    transform: translateX(-50%);
    width: 20px;
    height: 34px;
}

.forward {
    background-image: url(skier.png);
    background-position: -66px -0px;
    background-repeat: no-repeat;
    transform: translateX(-50%);
    width: 18px;
    height: 34px;
}

.right {
    background-image: url(skier.png);
    background-position: -47px -0px;
    background-repeat: no-repeat;
    transform: translateX(-50%);
    width: 20px;
    height: 34px;
}

.more-right {
    background-image: url(skier.png);
    background-position: -24px -0px;
    background-repeat: no-repeat;
    transform: translateX(-50%);
    width: 24px;
    height: 34px;
}

.rightmost {
    background-image: url(skier.png);
    background-position: -0px -0px;
    background-repeat: no-repeat;
    transform: translateX(-50%);
    width: 24px;
    height: 34px;
}

.falling {
    background-image: url(skier/falling.png);
    background-repeat: no-repeat;
    transform: translateX(-50%);
    width: 32px;
    height: 34px;
}

.ouch {
    background-image: url(skier/fell.png);
    background-repeat: no-repeat;
    transform: translateX(-50%);
    width: 32px;
    height: 34px;
}
